* {
    color: white;
    font-family: "Calibri", sans-serif;
    font-weight: 400;
}

#weather {
    margin-left: 10%;
    margin-top: -40%;
    width: 649px;
}

#clock {
    font-size: 200px;
    margin-top: 5%;
    margin-left: 70%;
}

#greeting {
    font-size: 100px;
    margin-left: 35%;
    margin-top: 30%;
}
